{% extends "base.html" %}

{% block content %}
    <h1  align="center">Create Your Blog!

    {% if blogs|length == 0 %}
    <p>No entries yet</p>

    {% else %}
    <br>
        <div>
            {% for blog in blogs %}        
                <h4><a href = '/blog?id={{post.id}}'>{{blog.title}}</a></h4>
                <p>{{blog.body}}</p>
                <br>
                Written by: <a href="./blog?user={{owner.id}}">{{blog.owner.email}}</a>
                <hr />

            {% endfor %}
        </div>
    {% endif %}
           
            
{% endblock %}