{% extends "base.html" %}

{% block content %}
<h1>Sign Up to post content!</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" value="{{request.form['email']}}">
            </td>
            <td class="error">{{email_err}}</td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
            <td class="error">{{password_err}}</td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
            <td class="error">{{verify_err}}</td>
        </tr>
    </table>
    <input type="submit" value="Sign Up">
</form>
{% endblock %}